.mt-15{
  margin-top: 15px;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.ml-5{
  margin-left: 5px;
}
.label{
  cursor: pointer;
}
.sort_selected::after{
  content: '\f00c';
  font-family: FronAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 10px;
  display: inline-block;
}